header {
  margin-bottom: 3%;
}
.iconos-pokedex{
  width: 20px;
  height: 20px;
  margin: 2px 8px;
}
.pokemon{
  overflow: auto;
  display: inline-block;
  position: relative;
}
.modal-content{
   width: 70%;
   margin: 0 auto;
   height: 60%;
   position: relative;
   top: 20%;
}
.opcion-pokemon{
  display: flex;
justify-content: center;
}

input[type='text']{
border: none;
border-bottom: 1px gray solid;
width: 37%;
outline: none;
}
.flex{
  display: flex;
  justify-content: space-between;
}
.red{
  color:#e84848;
}
